@model MOModel.Tutorial

@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-md-6">
        <h2>Crear nuevo Tutorial</h2>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Featured, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Featured, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Featured, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Video, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Dificultad, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Dificultad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dificultad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tiempo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tiempo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tiempo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Imagen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Publicacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Publicacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Publicacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SeccionId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SeccionId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SeccionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                ID's Secciones:
                Motor = 6
                Suspension = 7
                Frenos = 8
                Electricidad = 9
                Carroceria = 10
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12" id="crearPasos">
                            <div class="pasoInput">
                                <h3>Paso 1</h3>
                                <label for="Paso[0].Titulo">Titulo</label>
                                <div class="form-group">
                                    <input class="form-control text-box single-line" type="text" name="Paso[0].Titulo" />
                                </div>
                                <label for="Paso[0].Descripcion">Descrpicion</label>
                                <div class="form-group">
                                    <textarea class="form-control text-box" rows="5" cols="50" type="text" name="Paso[0].Descripcion"></textarea>
                                </div>
                                <label for="Paso[0].Imagen">Imagen</label>
                                <div class="form-group">
                                    <input class="form-control text-box single-line" type="text" name="Paso[0].Imagen" />
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary float-right" id="addPaso" onclick="clicks++;updateClickCount();">Agregar Paso</button>
                    </div>
                </div>
            </form><!--form-horizontal-->
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    var clicks = 0;

    $('#addPaso').click(function (event) {
        event.preventDefault();

        var html = '<div class="pasoInput"><h3>Paso ' + (clicks + 1) + '</h3><label for="Paso[' + clicks + '].Titulo">Titulo</label><div class="form-group"><input class="form-control text-box single-line" type="text" name="Paso[' + clicks + '].Titulo" /></div><label for="Paso[' + clicks + '].Descripcion">Descrpicion</label><div class="form-group"><textarea class="form-control text-box" rows="5" cols="50" type="text" name="Paso[' + clicks + '].Descripcion"></textarea></div><label for="Paso[' + clicks + '].Imagen">Imagen</label><div class="form-group"><input class="form-control text-box single-line" type="text" name="Paso[' + clicks + '].Imagen" /></div></div>';

        $('#crearPasos').append(html);
    });

    function updateClickCount() {
        document.getElementById("clickCount").innerHTML = clicks;
    }
</script>
