@model  MOModel.Tutorial
@{
    ViewBag.Title = "Tutorial";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/site")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<body>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            @*@Html.ActionLink("Editar Tutorial", "Tutorial", "Edit")*@
            <p>Admin test</p>
        }
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@Model.Titulo</h2>
                    </div>
                </div>
                @if (Model.Video == null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <p>@Model.Descripcion</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <p></p>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Dificultad: @Model.Dificultad</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Tiempo: @Model.Tiempo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.Video == null)
                {
                    foreach (var p in Model.Paso)
                    {
                        <div class="row Paso">
                            <div class="col-md-4">
                                <img src="@p.Imagen" />
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>@p.Titulo</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>@p.Descripcion</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-md-7">
                            <iframe width="640" height="360" src="@Model.Video" frameborder="0" gesture="media" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <p>@Model.Descripcion</p>
                        </div>
                    </div>
                    foreach (var p in Model.Paso)
                    {
                        <div class="row Paso">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>@p.Titulo</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@p.Descripcion</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    }
    else
    {
        <h3>Por favor, <a href="~/Account/Login">Inicia Sesion</a> o <a href="~/Account/Register">Registrate</a> para ver este tutorial.</h3>
    }
</body>

<style>
    .Paso {
        margin-top: 10px;
    }

    .container {
        margin-top: 10px;
    }
</style>