@model  MOModel.Tutorial
@{
    ViewBag.Title = "Tutorial";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/site")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<body>
    <div>
        @Model.Titulo
    </div>
</body>

